
<%= render :partial => "error_message" %>
<%= form_for @photo, :url => {:controller => "photos", :action => "update", :method => :patch} do |f| %>
	<%= render :partial =>"form", :locals => { :f => f} %>

	<%= f.submit "Update" %>
	<a href="/photos"><button>cancel</button></a>
<% end %>
