
<%= form_for @photo, :url => photos_path, :method => :post do |f| %>
  <%= render :partial => "form", :locals => { :f => f} %>

  <%= f.submit "Create" %>
  <a href="/photos"><button>cancel</button></a>
<% end %>


<%= render :partial => "error_message" %>